@charset "utf-8";
/* 参考サイト
https://saruwakakun.com/html-css/reference/border
https://codepen.io/deineko/pen/jrmmoQ
------------------------------------------------

/*初期設定
----------------------------------------------*/
body {
	margin: 0;
}
.container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

/* ヘッダー
---------------------------------------------------- */
.header-inner {
	padding: 2px;
}
.headA{
	display:inline-block;
	padding-top: 0;
    padding: 10px 10px 80px 10px;
}
.headB{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
	background-image: url(images/mainvisualonly.png);
	background-position: left;
	background-size: cover;
}
.headB h1{
	color:#fff;
	text-shadow: 1px 1px 4px black;
	text-align: center;
	margin-top:0;
	margin-bottom:10px;
	font-size:10vw;
}
#logo{
	margin: 50px 0;
    
}
@media only screen and (min-width: 768px){
	.headB h1{
		font-size:76px;
	}
}
/* メイン
---------------------------------------------------- */
.main-inner {
	padding: 0;
}
.main-inner ul{
	font-size: 14px;
	list-style: none;
    list-style-image: none;
}
.main-link a{
    color: darkorchid;
    text-decoration: none;
}
.main-inner li a:hover{
    color:darkgray;
}

.main-inner small{
    align-items: flex-start;
}

/* ナビゲーション
---------------------------------------------------- */
.nav-inner {
	padding: 0;
	color: #000;
}
.navbar{
	list-style: none;
}
.navbar a{
	display: block;
	padding:1px;
	font-weight: bold;
	color: #454545;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}
.navbar #current a{
}
@media only screen and (min-width:768px){
	.navbar{
		display:flex;
	}
}


/* ボタン
---------------------------------------------------- */
button {
    color:#454545;
    background:transparent;
    border-width:2px;
    border-style: solid;
    border-color: #454545;
    position:relative;
    margin:1em;display:inline-block;
    padding:0.5em 1em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:comfortaa;
    font-weight:bold
}
button:before, button:after {
    content:'';
    display:block;position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;height:1em;
    transition:all 0.3s ease-in-out
}
button:before {
    top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {
    bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}
.pink button {
    color:#e99;
    border-color:#e99
}
.pink button:before, .pink button:after  {border-color:#e99}
.pink button:hover:before, .pink button:hover:after {border-color:#a18ae6;}
.pink button:hover {color:#fff;background-color:#a18ae6;pointer-events: auto;}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}

/*ボタン　カレント
---------------------------------*/
.panel  #current{
    color:#a18ae6;
    background:transparent;
    border-width:2px;
    border-style: solid;
    border-color: #a18ae6;
    position:relative;
    margin:1em;display:inline-block;
    padding:0.5em 1em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:comfortaa;
    font-weight:bold
}
button #current:before, button #current:after {
    content:'';
    display:block;position:absolute;
    border-color:#a18ae6;
    box-sizing:border-box;
    border-style:solid;
    width:1em;height:1em;
    transition:all 0.3s ease-in-out
}
button #current:before {
    top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button #current:after {
    bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button #current:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);border-color:#a18ae6}
.pink button #current{
    color:#a18ae6;
    border-color:#a18ae6;
}
.pink button #current:before, .pink button #current:after  {border-color:#a18ae6}
.pink button #current:hover:before, .pink button #current:hover:after {border-color:#a18ae6;}
.pink button #current:hover {color:#fff;background-color:#a18ae6;pointer-events: auto;}
.pink #current.panel #current{max-width:960px;text-align:center;position:relative;margin:auto;}

/* フッター
---------------------------------------------------- */

.footer-inner {
	padding: 0;
	border-top: 1px #cccccc;
}
.footA h2{
}
.footA ul{
	font-size: 14px;
	list-style: none;
    list-style-position: inside;
}
.footA a{
	display: block;
	padding:1px;
	font-weight: bold;
	color: #454545;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}
.copyright{
	margin: 0;
	padding-top: 10px;
	text-align: center;
	color: #666;
}
@media only screen and (min-width:768px){
	.footA{
		display:flex;
	}
	.footA div{
		flex: 1;
	}
	.footA div:not{
		margin-left: 40px;
	}
}
.btn{
    color:#454545;
    position:relative;
    margin:1em;display:inline-block;
    padding:0.1em 1.75em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:comfortaa;
    font-weight:bold;
}

.btn:hover{
    color:#a18ae6;
}
.line1{
    border: none;
    border-top: 2.5px dotted #454545;
}
/* contact
------------------------------*/
.main-inner ul{
    list-style-position: outside;
}

/* About
-------------------------------*/
.main-inner h3{
    background: liner-gradient(transparent 70%,#ff99ab);
}
/*tabling
------------------------------------*/