@charset "utf-8";
body{
  min-width: 375px;
  font-family: 'TsukuARdGothic-Regular','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
/* メイン
---------------------------------------------------- */
.img-work{
  margin-top: 15px;
  margin-bottom: 15px;
  background-clip: content-box;
}
a{text-decoration: none;}

/* navgation
---------------------------------------------------- */
.navbar{
  position: fixed;
  z-index: 10;
}
.navbar img{
  max-width: 200px;
}
.navbar-light .navbar-toggler{
  border: none;
}
@media screen and (max-width:767px){
  .nav-link{
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding-bottom: .25rem;
    margin-bottom: .25rem;
  }
}
.mainvisual{
  padding-top: 70px;
}
.fc-palevioletred{color: #d87093;}
.fc-palevioletred:hover{color: rgb(202, 4, 70);text-decoration: none;}

/*  p5js canvas position center
-------------------------------------------------- */
#p5js{
  margin: 0;
}
#canvas{
  width: 100%;
}
canvas {
  display: block;
  right: 0;
  left: 0;
  margin: auto;
}