@charset "utf-8";
/*初期設定
----------------------------------------------*/
body {
	margin: 0;
}
.container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1000px;
}

/* ヘッダー
---------------------------------------------------- */
.header-inner {
	padding: 0;
}
.headA{
	display:inline-block;
	padding-top: 15px;
}
.headB{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
	background-image: url(images/mainvisualonly.png);
	background-position: left;
	background-size: cover;
}
.headB h1{
	color:#fff;
	text-shadow: 1px 1px 4px black;
	text-align: center;
	margin-top:0;
	margin-bottom:10px;
	font-size:10vw;
}
#logo{
	margin: 50px 0;
}
@media only screen and (min-width: 768px){
	.headB h1{
		font-size:76px;
	}
}

/* ナビゲーション
---------------------------------------------------- */
.nav-inner {
	padding: 0;
	color: #000;
}
.navbar{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fba;
}
.navbar a{
	display: block;
	padding:15px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}
.navbar a:hover{
	background-color:rgba(0,0,0,0.3);
}
.navbar #current a{
	color: #e99;
	background: #fff;
}
@media only screen and (min-width:768px){
	.navbar{
		display:flex;
	}
}

/* メイン
---------------------------------------------------- */
.main-inner {
	padding: 0;
}

/* フッター
---------------------------------------------------- */

.footer-inner {
	padding: 0;
	border-top: 1px #cccccc;
}
.footA h2{
	font-size: 20px;
}
.footA ul{
	font-size: 14px;
	list-style: none;
    list-style-position: inside;
}
.footA a{
	display: block;
	padding: 5px;
	color: #e99;
	text-decoration: none;
}
.footA a:hover{
	background-color:rgba(0,0,0,0.1);
}
.copyright{
	margin: 0;
	padding-top: 20px;
	text-align: center;
	color: #666;
}
@media only screen and (min-width:768px){
	.footA{
		display:flex;
	}
	.footA div{
		flex: 1;
	}
	footA div: not(first-child){
		margin-left: 40px;
	}
}
/* テーブル
---------------------------------------------------- */
table, td, th { 
	border: 1px solid gray;
}
table{
	margin-bottom: 50px;
	font-size: small;
	text-align: center;
	width:100%;
	table-layout: fixed; 
}

.top_c{
	background-color: gray;
}

.left1{
	text-align: center;
	width: 3%;
}

